.navbar-default.sidebar(role="navigation")
	.sidebar-nav.navbar-collapse
		ul.nav#side-menu
			li
				a(href="#")
					div
						i.glyphicon.glyphicon-dashboard  Dashboard
			li
				a(href="#")
					div
						i.glyphicon.glyphicon-stats  Charts
			li
				a(href="#")
					div
						i.glyphicon.glyphicon-stats  Charts
			li
				a(href="#")
					div
						i.glyphicon.glyphicon-stats  Charts
					