#req-password.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(data-dismiss='modal' aria-label='close')
                        span(aria-hidden='true') &times;
                h4.modal-title#myModalLabel Request Password Reset
            .modal-body
                .success_message
                form.form-group#lostPassword(action="/resetPassword" method='post')
                    p Please enter the email address associated with your account
                    input.form-control.input-modal#resetPasswordEmail(type='email' placeholder='Enter email' name='email' autofocus='autofocus')
                    .error-email-not-exist
                    button.btn.btn-primary#resetPasswordButton(type='submit') Request Password