doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/navigation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/lib/jquery.min.js')
    script(src='/lib/jquery.form.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    block scripts
